.Logo {
    display: grid;
    place-items: center center;
    grid-column: 3/6;
}

.Logo a{
    display: grid;
    place-items: center center;
}

.Logo img{
    max-height: 8vh;
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .Logo img{
        max-height: 14vh;
    }
    .Logo {
        grid-column: 1/2;
    }
}

@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .Logo {
        width: 100%;
        height: 11.5vh;
    }

    .Logo img {
        max-height: 100%;
    }
}