.contactFormContainer {
    grid-area: main;
    min-height: 91.5vh;
    height: minmax(91.5vh, auto);
    background: var(--second-bg-trans);
}

.contactForm {
    display: grid;
    place-items: start center;
    width: 100%;
}

.contactFormTitle {
    width: 100%;
    margin: 10px 0;
}

.contactFormInput {
    width: 85%;
    height: 7.5vh;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}

.conditionalDeliveryAddressContainer {
    display: grid;
    place-items: start center;
    width: 100%;
}

.imageContainer {
    width:100%;
}

.contactFormTextArea {
    width: 85%;
    height: 15vh;
    text-align: center;
    resize: none;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}

input:focus, textarea:focus, select:focus {
    outline-color: var(--main-txt);
}

.selectDateContainer {
    width: 100%;
    display: grid;
    place-items: center center;
}

/* mobile landscape */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .contactFormInput {
        width: 60%;
        height: 12.5vh;
    }
    
    .contactFormTextArea {
        width: 60%;
        height: 20vh;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

    .contactFormTitle {
        width: 100%;
    }
    
    .contactFormInput {
        width: 50%;
    }
    
    .contactFormTextArea {
        width: 50%;
    }

}