.SellYourItemsThroughRenewalHub {
    grid-area: main;
    display: grid;
    place-items: center center;
    width: 100%;
    background: var(--second-bg-trans);
    height: minmax(91.5vh, auto);
    grid: 1fr 9fr / 1fr;
}

.SellYourItemsThroughRenewalHubContainer {
    display: grid;
    place-items: center center;
    height: 100%;
    width: 100%;
    grid: 1fr 30vh 3fr / 1fr;
}

.SellYourItemsThroughRenewalHubContainerContactDetails {
    display: grid;
    place-items: center center;
    height: 100%;
    width: 100%;
    grid-row: 2/5; 
}

.SellYourItemsThroughRenewalHubTitle {
    width: 100%;
}

.SellYourItemsThroughRenewalHubInput {
    width: 95%;
    height: 7.5vh;
    text-align: center;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}

.imageContainer {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center center;
    grid: 1fr 1fr / 1fr 1fr;
}

.SellYourItemsThroughRenewalHubTextArea {
    width: 95%;
    height: 15vh;
    text-align: center;
    resize: none;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}

input:focus, textarea:focus, select:focus {
    outline-color: var(--main-txt);
}

.buttonsContainer {
    width: 100%;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
}

/* Large Screen landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .SellYourItemsThroughRenewalHub {
        height: 85vh;
    }

    .SellYourItemsThroughRenewalHubContainer {
        width: 50%;
    }
    
    .SellYourItemsThroughRenewalHubContainerContactDetails {
        width: 50%;
    }

    .imageContainer {
        grid-gap: 5px;
    }
}

/* mobile landscape */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .imageContainer {
        height: 100%;
        width: 95%;
        display: grid;
        place-items: center center;
        grid-gap: 5px;
        grid: 1fr / repeat(4, 1fr);
    }
}