.landingpage {
    grid-area: main;
}

.full-screen {
    height: 100%;
    height: 92.5vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: grid;
    place-items: center center;
    container-name: sidebar;
}

.image-headings {
    font-size: 2rem;
}

.half-screen, #main-half-screen {
    height: 100%;
    height: 46.25vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: grid;
    place-items: center center;
}

#main-half-screen {
    position: relative;
}

.faded-background {
    background: var(--second-bg-trans);
    position: absolute;
    z-index: 1;
    width: 75%;
    height: 75%;
    top: 12.5%;
    left: 12.5%;
    border-radius: 7.5px;
    display: grid;
    place-items: center center;
    color: var(--main-bg);
}

#main-first-half-screen {
    display: grid;
    place-items: center center;
    background-color: var(--second-bg);
    color: var(--main-bg);
    font-size: 3rem;
    height: 46.25vh;
    width: 95%;
    margin: 0 2.5%;
}

.intro-title {
    height: 18.5vh;
    display: grid;
    place-items: center center;
    background-color: var(--main-txt);
    color: var(--second-bg);
    font-size: 2.5rem;
}

.pillars-container {
    display: grid;
    place-items: center center;
    grid: 1fr 1fr / 1fr 1fr;
    height: 74vh;
    width: 95%;
    margin: 0 2.5%;
}

.first-pillar, .second-pillar, .third-pillar, .fourth-pillar {
    display: grid;
    place-items: center center;
    grid-template-rows: 2fr 6fr 2fr;
    height: 100%;
    width: 95%;
    margin: 0 2.5%;
}

#main-first-half-screen p {
    width: 95%;
    font-size: 1.6rem;
}

.landing-page-full-screen {
    margin-top: 30px;
}

.landing-page-full-screen-paragraph {
    font-size: 1.6rem;
    color: var(--main-bg);
    width: 95%;
    margin: 25px 2.5% 0 2.5%;
}

.landingPageImage {
    margin-top: 25px;
    max-width: 95%;
}

.step-container {
    margin-top: 25px;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    margin-right: 5px;
    width: 95%;
    margin: 25px 2.5% 0 2.5%;
}

.step-heading {
    place-self: start center;
    display: grid;
    place-items: center center;
    margin-right: 10px;
}

.step-number {
    
}

.step-paragraph {
    font-size: 1.3rem;
    border-left: solid var(--main-txt) 5px;
}

.step-container svg {
    font-size: 2.5rem;
}

.white-contrast {
    color: var(--second-bg);
}