.landingpage {
    grid-area: main;
}

.image-headings {
    font-size: 2rem;
}

#main-half-screen {
    height: 45.75vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: grid;
    place-items: center center;
}

.main-first-half-screen {
    min-height: 46.25vh;
    max-height: auto;
}

.main-first-half-screen p {
    font-size: 1.3rem;
}

#main-half-screen {
    position: relative;
}

.faded-background {
    /* background: var(--second-bg-trans); */
    position: absolute;
    z-index: 1;
    width: 75%;
    height: 65%;
    top: 5%;
    left: 12.5%;
    border-radius: 7.5px;
    display: grid;
    place-items: center center;
    color: var(--main-bg);
}

.faded-background h1 {
    font-size: 2.5rem;
}

.main-first-half-screen {
    display: grid;
    place-items: center center;
    background-color: var(--second-bg);
    color: var(--main-bg);
    font-size: 3rem;
    height: minmax(46.25vh, auto);
    width: 95%;
    margin: 0 2.5%;
}

.intro-title {
    height: 18.5vh;
    display: grid;
    place-items: center center;
    background-color: var(--main-txt);
    color: var(--second-bg);
    margin-top: 2.5vh;
}

.pillars-container {
    display: grid;
    place-items: center center;
    grid: 1fr 1fr / 1fr 1fr;
    width: 98%;
    margin: 20px 1% 0 1%;
    grid-gap: 3px;
}

.pillar {
    display: grid;
    place-items: center center;
    grid-template-rows: repeat(10, 1fr);
    height: 35vh;
    width: 98%;
    margin: 0 1%;
    border: solid 1.5px var(--main-txt);
    border-radius: 10px;
}

.pillar-title {
    width:99%;
    grid-row: 1/3;
}

.pillar-details {
    grid-row: 4/7;
}

.pillar-explore-now {
    grid-row: 9/11;
    width: 100%;
    color: var(--second-bg);
    background-color: var(--main-txt);
    height: 100%;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: grid;
    place-items: center center;
}

#main-first-half-screen p {
    width: 95%;
    font-size: 1.3rem;
}

.landing-page-full-screen {
    margin-top: 30px;
}

.landing-page-full-screen-paragraph {
    font-size: 1.3rem;
    color: var(--main-bg);
    width: 95%;
    margin: 25px 2.5% 0 2.5%;
}

.landingPageImage {
    margin-top: 25px;
    max-width: 95%;
}

.steps-container {
    display: grid;
    place-items: center center;
    width: 100%;
}

.step-container {
    margin-top: 25px;
    display: grid;
    place-items: center center;
    grid-template-columns: 2fr 8fr;
    margin-right: 5px;
    width: 95%;
    margin: 25px 2.5% 0 2.5%;
}

.step-heading {
    place-self: start center;
    display: grid;
    place-items: center center;
    margin-right: 10px;
    border-right: solid var(--main-txt) 5px;
}

.step-paragraph {
    font-size: 1.3rem;
}

.step-container svg {
    font-size: 2.5rem;
}

.sub-intro-section {
    margin-top: 5vh;
}

.white-contrast {
    color: var(--second-bg);
}

.see-our-button, .contact-Form-button{
    border: none;
    margin: 2.5vh 10vw;
    width: 80%;
    height: 7.5vh;
    border-radius: 10px;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    background-color: var(--main-txt);
    color: var(--second-bg);
}

.contact-Form {
    display: grid;
    place-items: center center;
    width: 100%;
    grid-gap: 15px;
    background: var(--second-bg-trans);
    padding: 10vh 0;
    height: 91.5vh
}

.contact-Form-title {
    width: 100%;
}

.contact-Form-input {
    width: 75%;
    height: 7.5vh;
    text-align: center;
    border: none;
    border-radius: 15px;
}

.contact-Form-text-area {
    width: 75%;
    height: 15vh;
    text-align: center;
    resize: none;
    border: none;
    border-radius: 15px;
}

input:focus, textarea:focus, select:focus {
    outline-color: var(--main-txt);
}

/* Tablets in landscape, laptop and desktops */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #main-half-screen {
        height: 60vh;
    }

    .main-first-half-screen {
        min-height: 25vh;
    }

    .main-first-half-screen p {
        font-size: 1.8rem;
    }

    .pillars-container {
        height: 66.5vh;
        grid: 1fr / repeat(4 ,1fr);
        width: 95%;
        margin: 20px 2.5% 0 2.5%;
    }

    .pillar {
        width: 98%;
        margin: 0 1%;
        border: solid 1.5px var(--main-txt);
        border-radius: 10px;
    }

    .pillar-explore-now:hover, .see-our-button:hover, .contact-Form-button {
        cursor: pointer;
    }

    .image-and-paragraphs-container {
        display: grid;
        place-items: center center;
        grid-template-columns: 1fr 1fr;
    }

    .steps-container {
        height: 60vh;
    }
    
    .step-container {
        grid-template-columns: 2fr 8fr;
        width: 75%;
    }
    
    .step-heading {
        place-self: start center;
        display: grid;
        place-items: center center;
        margin-right: 10px;
    }
    
    .step-paragraph {
        font-size: 1.3rem;
    }
    
    .step-container svg {
        font-size: 2.5rem;
    }

    .see-our-button, .contact-Form-button{
        margin: 2.5vh 35vw;
        width: 30vw;
    }
    
    .contact-Form-input {
        width: 40%;
    }
    
    .contact-Form-text-area {
        width: 40%;
    }
}


/* Tablets and Ipads in portait mode */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .Toolbar {
        padding-left: 0;
        padding-right: 5px;
        height: 12.5vh;
        grid-template-columns: 1fr 1fr;
        width: 25%;
        left: 75%;
        box-shadow: 0 1px 0 black;
    }
}