.landingpage {
    grid-area: main;
}

.image-headings {
    font-size: 2rem;
}

.half-screen, #main-half-screen {
    height: 45.75vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: grid;
    place-items: center center;
}

#main-first-half-screen {
    height: 46.25vh;
}

#main-half-screen {
    position: relative;
}

.faded-background {
    /* background: var(--second-bg-trans); */
    position: absolute;
    z-index: 1;
    width: 75%;
    height: 65%;
    top: 5%;
    left: 12.5%;
    border-radius: 7.5px;
    display: grid;
    place-items: center center;
    color: var(--main-bg);
}

.faded-background h1 {
    font-size: 2.5rem;
}

#main-first-half-screen {
    display: grid;
    place-items: center center;
    background-color: var(--second-bg);
    color: var(--main-bg);
    font-size: 3rem;
    height: minmax(46.25vh, auto);
    width: 95%;
    margin: 0 2.5%;
}

.intro-title {
    height: 18.5vh;
    display: grid;
    place-items: center center;
    background-color: var(--main-txt);
    color: var(--second-bg);
    margin-top: 2.5vh;
}

.pillars-container {
    display: grid;
    place-items: center center;
    grid: 1fr 1fr / 1fr 1fr;
    height: 74vh;
    width: 98%;
    margin: 30px 1% 0 1%;
    grid-gap: 3px;
}

.pillar {
    display: grid;
    place-items: center center;
    grid-template-rows: 2fr 6fr 2fr;
    height: 100%;
    width: 98%;
    margin: 0 1%;
    border: solid 1.5px var(--main-txt);
    border-radius: 15px;
}

.pillar-explore-now {
    width: 100%;
    color: var(--second-bg);
    background-color: var(--main-txt);
    height: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    display: grid;
    place-items: center center;
}

#main-first-half-screen p {
    width: 95%;
    font-size: 1.3rem;
}

.landing-page-full-screen {
    margin-top: 30px;
}

.landing-page-full-screen-paragraph {
    font-size: 1.3rem;
    color: var(--main-bg);
    width: 95%;
    margin: 25px 2.5% 0 2.5%;
}

.landingPageImage {
    margin-top: 25px;
    max-width: 95%;
}

.step-container {
    margin-top: 25px;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    margin-right: 5px;
    width: 95%;
    margin: 25px 2.5% 0 2.5%;
}

.step-heading {
    place-self: start center;
    display: grid;
    place-items: center center;
    margin-right: 10px;
}

.step-paragraph {
    font-size: 1.3rem;
    border-left: solid var(--main-txt) 5px;
}

.step-container svg {
    font-size: 2.5rem;
}

.white-contrast {
    color: var(--second-bg);
}

.see-our-button, .contact-Form-button{
    border: none;
    margin: 2.5vh 10vw;
    width: 80vw;
    height: 7.5vh;
    border-radius: 10px;
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    background-color: var(--main-txt);
    color: var(--second-bg);
}

.contact-Form {
    display: grid;
    place-items: center center;
    width: 100%;
    grid-gap: 15px;
    background: var(--second-bg-trans);
    padding: 10vh 0;
    height: 91.5vh
}

.contact-Form-title {
    width: 100%;
}

.contact-Form-input {
    width: 75%;
    height: 7.5vh;
    text-align: center;
    border: none;
    border-radius: 15px;
}

.contact-Form-text-area {
    width: 75%;
    height: 15vh;
    text-align: center;
    resize: none;
    border: none;
    border-radius: 15px;
}

input:focus, textarea:focus, select:focus {
    outline-color: var(--main-txt);
}