.landingPage {
    grid-area: main;
}

.bannerContainer {
    height: 45.75vh;
    width: 100%;
    position: relative;
}

.bannerContainer img {
    height: 45.75vh;
    max-width: 100%;
}

.hidden {
    display: none;
}

.previous, .next {
    background: var(--second-bg-trans);
    color: var(--second-bg);
    position: absolute;
    z-index: 2;
    height: 30%;
    top: 35%;
    width: 10%;
    border-radius: 10px;
}

.fadeImage { 
    animation: fadeIn 3s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fadeImage1 { 
    animation: fadeIn1 3s; 
}

@keyframes fadeIn1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.next {
    right: 1%;
}

.previous {
    left: 1%;
}

.mainHalfScreen {
    height: 45.75vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    display: grid;
    place-items: center center;
}

.mainFirstHalfScreen {
    min-height: 46.25vh;
    max-height: auto;
}

.mainHalfScreen {
    position: relative;
}

.fadedBackground {
    /* background: var(--second-bg-trans); */
    position: absolute;
    z-index: 1;
    width: 75%;
    height: 65%;
    top: 5%;
    left: 12.5%;
    border-radius: 7.5px;
    display: grid;
    place-items: center center;
    color: var(--main-bg);
}

.fadedBackground h1 {
    font-size: 2.5rem;
}

.pillarsContainer {
    display: grid;
    place-items: center center;
    grid: 1fr 1fr / 1fr 1fr;
    width: 98%;
    margin: 20px 1% 0 1%;
    grid-gap: 3px;
}

.pillar {
    display: grid;
    place-items: center center;
    grid-template-rows: repeat(10, 1fr);
    height: 35vh;
    width: 98%;
    margin: 0 1%;
    border: solid 1.5px var(--main-txt);
    border-radius: 10px;
}

.pillarTitle {
    font-size: 1.3rem;
    grid-row: 1/3;
    height: 100%;
    display: grid;
    place-items: center center;
}

.pillarDetails {
    grid-row: 4/7;
}

.pillarExploreNow {
    grid-row: 9/11;
    width: 100%;
    color: var(--second-bg);
    background-color: var(--main-txt);
    height: 100%;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: grid;
    place-items: center center;
}

#mainFirstHalfScreen p {
    width: 95%;
    font-size: 1.3rem;
}

/* Tablets in landscape, laptop and desktops */

@media only screen and (min-width: 1024px) and (orientation: landscape) {

    .mainHalfScreen {
        height: 65vh;
    }

    .bannerContainer {
        height: 65vh;
    }


    .pillarsContainer {
        height: 66.5vh;
        grid: 1fr / repeat(4 ,1fr);
        width: 95%;
        margin: 20px 2.5% 0 2.5%;
    }

    .pillar {
        width: 98%;
        margin: 0 1%;
        border: solid 1.5px var(--main-txt);
        border-radius: 10px;
    }

    .pillarTitle {
        font-size: 1.2rem;
    }

    .pillar-explore-now:hover, .see-our-button:hover, .contact-Form-button:hover, .next:hover, .previous:hover {
        cursor: pointer;
    }

    .see-our-button, .contact-Form-button{
        margin: 2.5vh 35vw;
        width: 30vw;
    }
    
    .contact-Form-input {
        width: 40%;
    }
    
    .contact-Form-text-area {
        width: 40%;
    }
}


/* Tablets and Ipads in portait mode */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    #main-half-screen {
        height: 87.5vh;
    }

    .see-our-button, .contact-Form-button{
        margin: 2.5vh 25vw;
        width: 50vw;
        height: 10vh;
    }
}

/* Very small phone in portait */

@media only screen and (min-width : 250px) and (max-width : 380px) and (orientation : portrait) {
    .pillar-title {
        font-size: 1rem;
    }

    .pillarDetails {
        font-size: 0.9rem;
    }
}

/* Very large Desktop Laptop screen */

@media only screen and (min-width: 1600px) and (orientation: landscape) {

    .mainHalfScreen {
        height: 65vh;
    }

    .bannerContainer {
        height: 65vh;
    }

    .fadedBackground h1 {
        font-size: 7.5rem;
    }

    .pillarsContainer {
        height: 66.5vh;
        grid: 1fr / repeat(4 ,1fr);
        width: 95%;
        margin: 20px 2.5% 0 2.5%;
    }

    .pillar {
        width: 98%;
        margin: 0 1%;
        border: solid 1.5px var(--main-txt);
        border-radius: 10px;
    }

    .pillarTitle {
        font-size: 1.75rem;
    }

    .pillarDetails {
        font-size: 1.5rem;
    }

    .pillar-explore-now:hover, .see-our-button:hover, .contact-Form-button {
        cursor: pointer;
    }

    .steps-container {
        height: 60vh;
    }
    
    .step-container {
        grid-template-columns: 2fr 8fr;
        width: 75%;
    }
    
    .step-heading {
        place-self: start center;
        display: grid;
        place-items: center center;
        margin-right: 10px;
    }
    
    .step-paragraph {
        font-size: 1.75rem;
    }
    
    .step-container svg {
        font-size: 2.5rem;
    }
}