.Footer {
    margin-top: 50px;
    grid-area: footer;
    background: var(--second-bg);
    display: grid;
    place-items: center center;
    width: 100%;
    min-height: 30vh;
}

.footerLinks {
    display: grid;
    place-items: center center;
    height: 100%;
    width: 100%;
    grid-auto-flow: column;
    font-size: 2rem;
}

.footerLink {
    display: grid;
    place-items: center center;
}

.policyContainer {
    margin-top: 10px;
    display: grid;
    place-items: center center;
    height: 100%;
    width: 100%;
    grid-auto-flow: column;
}

.contactInformation {
    display: grid;
    place-items: center center;
    font-size: 1.25rem;
}

.contactInformation svg {
    margin-bottom: 15px;
}

.footerHeader {
    margin: 10px 0;
}