.Toolbar {
    display: grid;
    place-items: center center;
    grid-area: toolbar;
    background: var(--second-bg);
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 1px black;
    z-index: 5;
    height: 8.5vh;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
    font-size: 2.25rem;
}

.toolbarLargeScreensOnly {
    display: none;
}

/* Tablets in landscape, laptop and desktops */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .Toolbar {
        padding-left: 0;
        padding-right: 5px;
        height: 15vh;
        box-shadow: none;
    }

    .toolbarLargeScreensOnly {
        grid-column: 2/7;
        display: grid;
        place-items: center center;
        width: 100%;
        padding-left: 15%;
    }
}


/* mobile in landscape mode */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .Toolbar {
        height: 12.5vh;
        box-shadow: 0 1px 0 black;
    }
}