.Toolbar {
    display: grid;
    place-items: center center;
    grid-area: toolbar;
    background: var(--second-bg);
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 1px black;
    z-index: 5;
    height: 8.5vh;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 2.25rem;
}

.largeScreensOnly {
    display: none;
}

/* Tablets in landscape, laptop and desktops */

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .Toolbar {
        padding-left: 0;
        padding-right: 5px;
        height: 15vh;
        box-shadow: none;
    }

    .largeScreensOnly {
        display: grid;
        place-items: center center;
        width: 100%;
        padding-left: 15%;
    }
}


/* Tablets and Ipads in portait mode */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .Toolbar {
        padding-left: 0;
        padding-right: 5px;
        height: 12.5vh;
        grid-template-columns: 1fr 1fr;
        width: 25%;
        left: 75%;
        box-shadow: 0 1px 0 black;
    }
}