.renewalHub {
    grid-area: main;
}

.stepsContainer {
    display: grid;
    place-items: center center;
    width: 100%;
}

.stepContainer {
    margin-top: 25px;
    display: grid;
    place-items: center center;
    grid-template-columns: 2fr 8fr;
    margin-right: 5px;
    width: 95%;
    margin: 25px 2.5% 0 2.5%;
}

.stepContainer svg {
    font-size: 2.5rem;
}

.stepHeading {
    place-self: start center;
    display: grid;
    place-items: center center;
    margin-right: 10px;
    border-right: solid var(--main-txt) 5px;
}

.stepParagraph {
    font-size: 1.3rem;
}