.renewalCheck {
    grid-area: main;
}

.folowingSubjectsAndParagraphContainer {
    display: grid;
    place-items: center start;
    width: 100%;
}

.listContainer {
    margin-top: 25px;
    display: grid;
    place-items: center center;
}

.listItemContainer {
    margin-top: 10px;
    width: 80%;
    display: grid;
    place-items: center start;
    grid: 1fr / 2fr 8fr;
}

.listItemContainer p {
    font-weight: bold;
}

.listItemSubContainer {
    margin-top: 10px;
    width: 100%;
}

.listItemContainer svg {
    font-size: 2rem;
}

.landingPageImage {
    margin-top: 25px;
    max-width: 100%;
}

.stepsContainer {
    display: grid;
    place-items: center center;
    width: 100%;
}

.stepContainer {
    margin-top: 25px;
    display: grid;
    place-items: center center;
    grid-template-columns: 1fr 9fr;
    margin-right: 5px;
    width: 99%;
    margin: 25px 2.5% 0 2.5%;
    text-align: left;
}

.stepContainer svg {
    font-size: 2.5rem;
}

.stepNumber {
    place-self: start start;
    font-size: 2.5rem;
}

.stepHeading {
    height: 100%;
    place-self: center center;
    display: grid;
    place-items: center center;
    margin-right: 10px;
    padding-right: 10px;
    border-right: solid var(--main-txt) 5px;
    border-top: solid var(--main-txt) 5px;
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    
    .listItemContainer {
        font-size: 1.8rem;
    }
    .stepContainer {
        font-size: 2.5rem;
    }
}