.ImageUpload {
    width: 175px;
    height: 175px;
    display: grid;
    place-items: center center;
    background: var(--main-txt);
    color: var(--second-bg);
    border-radius: 15px;
}

.addImage, .imagePreview {
    width: 50%;
    display: grid;
    place-items: center center;
    font-size: 1.5rem;
}

.addImage svg, .imagePreview svg {
    font-size: 3.5rem;
}

.imagePreview img {
    max-width: 100%;
    height: 70px;
    border-radius: 5px;
}

.imagePreview {
    width: 80%;
}

.errorBackground {
    background: var(--second-bg);
}