.ImageUpload {
    width: 95%;
    height: 14.5vh;
    display: grid;
    place-items: center center;
    background: var(--main-txt);
    color: var(--second-bg);
    border-radius: 15px;
}

.addImage, .imagePreview {
    width: 100%;
    display: grid;
    place-items: center center;
    font-size: 1.5rem;
}

.addImage svg, .imagePreview svg {
    font-size: 3.5rem;
}

.imagePreview img {
    max-width: 100%;
    height: 10vh;
    border-radius: 5px;
}

.errorBackground {
    background: var(--second-bg);
}

.ImageUpload:hover {
    cursor: pointer;
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    
    .addImage, .imagePreview {
        width: 100%;
    }
    
    .ImageUpload {
        width: 100%;
        height: 100%;
    }
}

/* mobile landscape */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .addImage, .imagePreview {
        width: 100%;
    }
    
    .ImageUpload {
        width: 100%;
        height: 100%;
    }
}