/* Standard Mobile layout */
.Layout {
    background: var(--second-bg);
    width: 100%;
    height: 100%;
    display: grid;
    grid:
        'toolbar toolbar toolbar toolbar toolbar toolbar' 8.5vh
        'main main main main main main' minmax(91.5vh, auto)
        'footer footer footer footer footer footer' minmax(20vh, auto)
        / 1fr 1fr 1fr 1fr 1fr 1fr
        ;
}

/* Large Screen landscape */
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .Layout {
        grid:
            'toolbar toolbar toolbar toolbar toolbar toolbar' 15vh
            'main main main main main main' minmax(60vh, auto)
            'footer footer footer footer footer footer' minmax(20vh, auto)
            / 1fr 1fr 1fr 1fr 1fr 1fr
        ;
    }
}

/* mobile landscape */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    .Layout {
        grid:
            'toolbar toolbar toolbar toolbar toolbar toolbar' 12.5vh
            'main main main main main main' minmax(87.5vh, auto)
            'footer footer footer footer footer footer' minmax(20vh, auto)
            / 1fr 1fr 1fr 1fr 1fr 1fr
        ;
    }
}