.NavigationItems {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center center;
}

.topNavItemsContainer {
    place-self: start center;
    width: 100%;
    height: 85%;
    display: grid;
    place-items: center center;
}

.smallScreenOnly{
    display: grid;
    place-items: center center;
    width: 75%;
    background: var(--main-bg);
    padding: 5px;
    border-radius: 25px;
    border: solid 1.5px var(--main-txt);
}

.projectOverallContainer {
    position: relative;
    width: 100%;
}

.projects {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 15px;
}

.projectNotShown {
    display: none;
}

.projectContainerShown {
    width: 45vw;
    position: absolute;
    display: grid;
    place-items: center center;
    background: var(--second-bg);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    left: 55vw;
    bottom: -15vh;
    height: 30vh;
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .NavigationItems {
        grid-template-rows: 1fr;
        grid-auto-flow: column;
    }
    
    .topNavItemsContainer {
        grid-auto-flow: column;
        height: 100%;
    }

    .topNavItemsContainer a {
        font-size: 1.3rem;
        padding: 10px;
        border-radius: 15px;
    }

    .topNavItemsContainer a:hover {
        background-color: var(--main-txt);
        color: var(--second-bg);
    }

    .projects {
        cursor: pointer;
        font-size: 1.3rem;
        padding: 10px;
        border-radius: 15px;
    }

    .projects:hover {
        background-color: var(--main-txt);
        color: var(--second-bg);
    }

    .projectContainerShown {
        width: 100%;
        position: absolute;
        display: grid;
        place-items: center center;
        background: var(--second-bg);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        left: auto;
        bottom: auto;
        height: auto;
    }

    .smallScreenOnly{
        display: none;
    }
}

/* mobile landscape */
@media only screen and (min-width : 321px) and (max-width : 1023px) and (orientation : landscape) {
    
    .NavigationItems {
        height: 90%;
        grid-template-rows: 1fr;
    }
    
    .smallScreenOnly{
        display: none;
    }

    .topNavItemsContainer, .bottomNavItemsContainer {
        height: 100%;
    }

    .projectContainerShown {
        width: 45vw;
        position: absolute;
        display: grid;
        place-items: center center;
        background: var(--second-bg);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        left: 35vw;
        bottom: -15vh;
        height: 30vh;
    }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
    .topNavItemsContainer a {
        font-size: 1.3rem;
    }
}