.PrivacyPolicyModal {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: var(--second-bg);
    background-color: var(--main-txt);
    display: grid;
    place-items: center center;
    grid-auto-flow: column;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    z-index: 1;
}

.PrivacyPolicyModal p, .PrivacyPolicyModal a {
    font-size: 0.8rem;
    color: var(--second-bg);
}

.PrivacyPolicyModal p {
    margin-right: 10px;
}